/* the 100vh and 100vw set the size of the body to fill the viewport (screen) */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
}
/* this class specifies shape */
.row {
  height: 100%;
  width: 50%;
  display: block;
}
.character {
  height: 65%;
  width: 100%;
}
.bio {
  height: 35%;
  width: 100%;
  color: white;
}
.row1 {
  height: 100%;
  width: 25%;
  display: block;
}
.box {
  height: calc(100% / 3);
  width: 100%;
}
.translucent {
  opacity: 0.2;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.clickable1 {
  filter: brightness(85%) drop-shadow(2px 8px 3px);
}
/* changes to the style when the user HOVERS */
.clickable1:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
  transform: scale(1.04);
}
/* changes to the style when the user CLICKS */
.clickable1:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}
/* these classes specify color */
.green {
  background-color: #457541;
}
.blue {
  background-color: #0056f5;
}
.purple {
  background-color: #0f0241;
}
.red {
  background-color: #c51717;
}
.orange {
  background-color: #fd5632;
}
.grey {
  background-color: #d3d3d3;
}
.dark-grey {
  background-color: #a9a9a9;
}
.dark-red {
  background-color: #aa2323;
}
.black {
  background-color: #000000;
}
.white {
  background-color: #ffffff;
}
.darkblue {
  background-color: #0a1172;
}
.purple {
  background-color: #79519a;
}
.blue {
  background-color: #0000ff;
}
.kindagrey {
  background-color: #2c2c2c;
}
.darkblue {
  background-color: #0a1172;
}
.darkblue {
  background-color: #0a1172;
}

/* styles if the screen is 600px or less */
@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
    width: 100vw;
    display: block;
    margin: 0;
  }
  .row {
    height: 40%;
    width: 100%;
    display: block;
  }
  .row1 {
    height: 20%;
    width: 100%;
    display: flex;
  }
  .box {
    height: 100%;
    width: calc(100% / 3);
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .center-content {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
